---
title: "About | Code Stitch Web Designs"
description: "Meta description for the page"
preloadImg: "/assets/images/cabinets2.jpg"
permalink: "about/"
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css" />
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source
                media="(max-width: 600px)"
                srcset="/assets/images/cabinets2-m.jpg"
            />
            <source
                media="(min-width: 601px)"
                srcset="/assets/images/cabinets2.jpg"
            />
            <img
                aria-hidden="true"
                decoding="async"
                src="/assets/images/cabinets2.jpg"
                alt="kitchen cabinets"
                loading="eager"
                width="2500"
                height="1667"
            />
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source
                        media="(max-width: 600px)"
                        srcset="/assets/images/cabinets2-m.jpg"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/cabinets2.jpg"
                    />
                    <img
                        aria-hidden="true"
                        decoding="async"
                        src="/assets/images/cabinets2.jpg"
                        alt="cabinets"
                        loading="lazy"
                        width="400"
                        height="563"
                    />
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source
                        media="(max-width: 600px)"
                        srcset="/assets/images/construction-m.jpg"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/construction.jpg"
                    />
                    <img
                        aria-hidden="true"
                        decoding="async"
                        src="/assets/images/construction.jpg"
                        alt="house"
                        loading="lazy"
                        width="400"
                        height="563"
                    />
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">About Coffee Oasis</h2>
                <p class="cs-text">
                    We dedicate our time to give an experience you cant get many places. We specialize in comfortability for our patrons so they can feel at home, relax, and drink a hot or cold brew delicious, happy coffee.
                </p>
                <p class="cs-text">
                    The best thing about us besides our delicious coffee is that you dont have to feel uncomfortable in a public place when you are here. We want the atmosphere to feel like you paid us for hospitality alone, even if you dont buy anything.
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        I am honored to serve as the Founder of a unique Coffee Shop where people can get things done and not feel like they have to leave.
                    </p>
                    <span class="cs-name">Justin Time</span>
                    <span class="cs-job">CEO-Founder</span>
                    <img
                        class="cs-quote-icon"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
                        alt="gavel"
                        width="136"
                        height="77"
                    />
                </div>
                <a href="/projects" class="cs-button-solid">Our Gallery</a>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}
